:root{
    --primary-title-text-color: #212121;
    --secondary-title-color: #ffffff;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --mail-phone-color:rgba(255, 255, 255, 0.6);
    };

        /* в футере тел и міло - rgba(255, 255, 255, 0.6); */
    
body {
    background-color: var(--secondary-title-color);
    color: var(--primary-title-text-color);
    font-family: Roboto; sans-serif;
}

ul {
    list-style: none;
}



/* стили общие header footet */



.logo-first {
    color: var(--accent-color);
    font-family: Raleway; sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-decoration: none;      
    }

.logo-second {
    color: #000000;
    font-family: Raleway; sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-decoration: none;
}


footer {
    background-color: var(--primary-title-text-color);
        font-size: 14px;
        line-height: 1.71;
            letter-spacing: 0.03em;
            text-decoration: none;
            font-style: normal;
}

 .footer-link .logo-second {
    color: var(--secondary-title-color);
    font-family: Raleway;sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-decoration: none;
    }
    
.address {
    color: var(--secondary-title-color);
        font-size: 14px;
        line-height: 1.71px;
        letter-spacing: 0.03em;
        text-decoration: none;
        font-style: normal;
}

.mail {
    color: var(--mail-phone-color);
        font-size: 14px;
        line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
}
.phone {
    color: var(--mail-phone-color);
        font-size: 14px;
        line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
}
.mail:hover , .mail:focus {
    color: var(--accent-color);
}

.phone:hover, .phone:focus {
    color: var(--accent-color);
}
/* site nav */
.site-nav .link {
    color: var(--primary-title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color); 
}
.site-nav .link.current {
    color: var(--accent-color);
}
/* info nav*/
.info-nav .link {
    color: var(--primary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.info-nav .link:hover, .info-nav .link:focus {
    color: var(--accent-color);
}
 /* styles for index.html */


/* main section class hero */
.section-hero{
    background-color: #2F303A;
}
.section-hero .hero-title {
    color: var(--secondary-title-color);
  
        font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        
}
.button-primary {
    color: var(--secondary-title-color);
    background-color: var(--accent-color);
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        cursor: pointer;
        display: flex;
            align-items: center;
            text-align: center;
      
       
        cursor: pointer
    letter-spacing: 0.06em;
}
.button-primary:hover, .button-primary:focus {
    color: var(--secondary-title-color);
    background-color: #188CE8
}

/* section-benefits and section activities*/

.section-benefits, .section-activities {
    color: var(--primary-title-text-color);
    background-color:#F5F5F5;
}

.section-benefits .p {
    color: var(--primary-text-color);
        font-size: 14px;
        line-height: 1.71;
    letter-spacing: 0.03em;
}
.section-benefits .list-title { 
    color: var(--primary-title-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase; }
    


/* section team */

.section-team {
    color: var(--primary-title-text-color);
        background-color: #F5F4FA;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.18;
            letter-spacing: 0.03em;
}
.section-team .p {
    color:  var(--primary-text-color);
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
}

.section-team .list-background {
    background-color: var(--secondary-title-color);
}



 /* styles for portfolio.html  */

 .visually-hidden {
     position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
 }

 .section-portfolio {
    background-color: #F5F5F5;
    
 }

  .button-secondary {
    color: var(--primary-title-text-color);
        background-color: #F5F4FA;
        font-family: inherit;
            cursor: pointer;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            letter-spacing: 0.03em;
 }
    
.button-secondary:hover, .button-secondary:focus {
    color: var(--secondary-title-color);
    background-color: var(--accent-color)
}

.list-img .list-background {
    background-color: #FFFFFF;
}
.list-img .img-title {
       color: var(--primary-title-text-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2px;
       letter-spacing: 0.06em;
}
.list-img .p {  
    color: var(--primary-text-color);
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.03em;
}

/*  ready for cheking*/