:root{
    --primary-title-text-color: #212121;
    --secondary-title-color: #ffffff;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --mail-phone-color:rgba(255, 255, 255, 0.6);
    }

        /* в футере тел и міло - rgba(255, 255, 255, 0.6); */
    
body {
    background-color: var(--secondary-title-color);
    color: var(--primary-title-text-color);
    font-family: Roboto. sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}
a {
text-decoration: none;
}
button {
    cursor: pointer;
    font-family: inherit;
    border: none;
}



/* стили общие header footet */



.logo-first {
    color: var(--accent-color);
    font-family: Raleway; sans-serif;
        font-size: 26px;
        line-height: 1.19;
            
    }

.logo-second {
    color: #000000;
    font-family: Raleway; sans-serif;
       
        font-size: 26px;
        line-height: 1.19;
        
}


footer {
    background-color: var(--primary-title-text-color);
        line-height: 1.71;
            text-decoration: none;
            font-style: normal;
}

 .footer-link .logo-second {
    color: var(--secondary-title-color);
    font-family: Raleway. sans-serif;
        font-size: 26px;
        line-height: 1.19;
    }
    
.address {
    color: var(--secondary-title-color);
        line-height: 1.71px;
        font-style: normal;
}

.mail {
    color: var(--mail-phone-color);
        line-height: 1.71;
    font-style: normal;
   
}
.phone {
    color: var(--mail-phone-color);
        line-height: 1.71;
    font-style: normal;
   
}
.mail:hover , .mail:focus {
    color: var(--accent-color);
}

.phone:hover, .phone:focus {
    color: var(--accent-color);
}
/* site nav */
.site-nav .link {
    color: var(--primary-title-text-color);
        font-weight: 500;
        line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color); 
}
.site-nav .link.current {
    color: var(--accent-color);
}
/* info nav*/
.info-nav .link {
    color: var(--primary-text-color);
        font-weight: 500;
        line-height: 1.14;
    letter-spacing: 0.02em;
}
.info-nav .link:hover, .info-nav .link:focus {
    color: var(--accent-color);
}
 /* styles for index.html */


/* main section class hero */
.section-hero{
    background-color: #2F303A;
}
.title-hero {
    color: var(--secondary-title-color);
  
        font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
        
.button-hero {
    color: var(--secondary-title-color);
    background-color: var(--accent-color);
       font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
}
.button-hero:hover, .button-hero:focus {
    color: var(--secondary-title-color);
    background-color: #188CE8;
}

/* section-benefits and section activities*/

.section-benefits, .section-activities {
    background-color: var(--secondary-title-color);
}

.text-benefits {
    color: var(--primary-text-color);
        line-height: 1.71;
}

.list-benefits { 
        line-height: 1.14;
        text-transform: uppercase; 
    }

.title-activities {
            font-size: 36px;
            line-height: 1.16;
    }
    


/* section team */

.section-team {
    color: var(--primary-title-text-color);
        background-color: #F5F4FA;
}

.title-team {
        font-size: 36px;
        line-height: 1.16;
}

.text-team {
    color:  var(--primary-text-color);
        font-size: 16px;
        line-height: 1.18;
}

.name-team {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
}

.section-team .list-background {
    background-color: var(--secondary-title-color);
}



 /* styles for portfolio.html  */

 .visually-hidden {
     position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
 }

 .section-portfolio {
    background-color: #F5F5F5;
    
 }

  .button-secondary {
    color: var(--primary-title-text-color);
        background-color: #F5F4FA;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
 }
    
.button-secondary:hover, .button-secondary:focus {
    color: var(--secondary-title-color);
    background-color: var(--accent-color);
}

.background-portfolio {
    background-color: #FFFFFF;
}
.title-portfolio{
       color: var(--primary-title-text-color);
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}
.text-portfolio {  
    color: var(--primary-text-color);
            font-size: 16px;
            line-height: 1.88;
}

/*  ready for cheking*/